/** bootstrap multiselect css **/
.bs-multiselect .custom-select, .bs-multiselect .custom-file-label, .bs-multiselect .custom-control-label::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bs-multiselect .custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.25rem 3.6rem 0.25rem 0.8rem;
  border: var(--vz-border-width) solid var(--vz-input-border-custom) !important;
  border-radius: var(--vz-border-radius) !important;
  font-size: 0.8125rem;
  min-height: 37.5px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bs-multiselect .custom-select.text-left {
  text-align: left !important;
}
.bs-multiselect .custom-select.text-center {
  text-align: center !important;
}
.bs-multiselect .custom-select.text-right {
  text-align: right !important;
}
.bs-multiselect .custom-select::before {
  content: "\f0140";
  font-family: "Material Design Icons";
  position: absolute;
  right: 11.5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
}
.bs-multiselect .custom-select.bs-bg-light {
  background-color: #ebeff0;
  border: 1px solid #c4d2d4;
}
.bs-multiselect .multiselect-container.dropdown-menu {
  border: 1px solid var(--vz-border-color) !important;
}
.bs-multiselect .multiselect-container .multiselect-all:not(.multiselect-all),
.bs-multiselect .multiselect-container .multiselect-option:not(.multiselect-all) {
  color: var(--vz-dropdown-link-active-color);
  background-color: #fff;
}
.bs-multiselect .multiselect-container .multiselect-all .form-check-label,
.bs-multiselect .multiselect-container .multiselect-option .form-check-label {
  font-weight: normal;
  white-space: normal;
}
.bs-multiselect .multiselect-container .multiselect-all:hover, .bs-multiselect .multiselect-container .multiselect-all:focus, .bs-multiselect .multiselect-container .multiselect-all.active,
.bs-multiselect .multiselect-container .multiselect-option:hover,
.bs-multiselect .multiselect-container .multiselect-option:focus,
.bs-multiselect .multiselect-container .multiselect-option.active {
  background-color: var(--vz-dropdown-link-active-bg) !important;
  color: var(--vz-dropdown-link-active-color);
}

/** end: bootstrap multiselect css **/
/** guard watch **/
#clockContainer {
  position: relative;
  margin: auto;
  height: 200px;
  /*to make the height and width responsive*/
  width: 200px;
  background: url(../images/watch-dialpad-300*300.jpeg) no-repeat;
  /*setting our background image*/
  background-size: 100%;
  border-radius: 50%;
  overflow: hidden;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

/** end: guard watch **/
/** flag guard name **/
[data-option-flag-img-name] .flag-input.flag-guard {
  background-image: url(../images/users/user-dummy-img.jpg);
  background-position: 12px 6px;
  background-size: 24px;
}

/** table custom collapse css **/
.table-collapse-custom a[data-bs-toggle=collapse] .ri-add-box-fill {
  display: none;
}
.table-collapse-custom a[data-bs-toggle=collapse] .ri-checkbox-indeterminate-fill {
  display: block;
}
.table-collapse-custom a[data-bs-toggle=collapse].collapsed .ri-add-box-fill {
  display: block;
}
.table-collapse-custom a[data-bs-toggle=collapse].collapsed .ri-checkbox-indeterminate-fill {
  display: none;
}

/** end: table custom collapse css **/
.input-group-select .input-group-text {
  padding: 0;
  min-width: 80px;
}
.input-group-select .input-group-text .select2-container .select2-selection--single {
  border: 0;
  background: var(--vz-tertiary-bg);
}

/*# sourceMappingURL=custom.css.map */

:root[data-sidebar="dark"] {
    --vz-vertical-menu-bg: #0ab33cd4 !important;
    --vz-vertical-menu-border: #0ab33c87 !important;
    --vz-vertical-menu-item-color: #ffffff !important;
    --vz-vertical-menu-item-hover-color: #ffffff !important;
    --vz-vertical-menu-item-active-color: #ffffff !important;
    --vz-vertical-menu-item-active-bg: rgba(255, 255, 255, 0.15) !important;
    --vz-vertical-menu-sub-item-color: #ffffff !important;
    --vz-vertical-menu-sub-item-hover-color: #ffffff !important;
    --vz-vertical-menu-sub-item-active-color: #ffffff !important;
    --vz-vertical-menu-title-color: #ffffff !important;
    --vz-primary: #0ab33c;
    --vz-primary-text-emphasis: #0ab33c;
}